
<div class="header">
  <h1><b>Contacts</b></h1>
  {{contactCount}} contacts
  <br>
  <div style="display: flex;">
    <input class="search-contact" type="text" [(ngModel)]="searchBox" placeholder="Search Contacts" name="contact">
    <button class="addContact" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="margin-left: 25px;border-radius: 25px;">
      Add
    </button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="card" style="display: flex;">
          <div class="cardbody">
            <div style="text-align: center;height: 85px;"><img src="" alt="no preview"></div>

            <div class="input-group col-6" style="justify-content: space-evenly;">

              <div>
                <input class="fields" type="text" placeholder="First name" [(ngModel)]="firstName"
                       name="firstName">
              </div>
              <div>
                <input class="fields" type="text" placeholder="last name" [(ngModel)]="lastName"
                       name="lastName">
              </div>
              <div>
                <input class="fields" type="text" placeholder="company title" [(ngModel)]="company"
                       name="companyTitle">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addContactButton()">Add Contact</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="card" style="width: 118%;" *ngFor="let keyValue of contactsMap | keyvalue">
    <div class="card-header">{{keyValue.key}}</div>
    <div class="card-body"  *ngFor="let contact of keyValue.value" style="padding:0px">
      <div style="border-bottom: 1px solid lightgray;margin:3px;padding:3px">
        <div style="display: contents;"><img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="no prev" style="width: 30px;margin-left: 5px;"></div>
        <div id="myDiv" style="display: inline-table;margin-left: 10px;">
          <label><b>{{contact.firstName}} {{contact.lastName}}</b></label>
          <br>
          <label>{{contact.company}}</label>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
